---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Team from '../components/Team.astro';
import WhatsApp from '../components/WhatsApp.astro';
---

<Layout>
	<main>
		<Hero />
		<Team />
		<WhatsApp />
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>

